.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emplooye {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px;
}

table,
th,
td {
  border: 3px solid #6366f1;
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  padding: 5px;
  text-align: left;
}

.detailData {
  margin-top: 30px;
}

.createEmployee {
  margin: auto;
  margin-top: 30px;
  width: 400px;
}

input,
select {
  max-width: fit-content;
}
